<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="/"><span class="glyphicon glyphicon-user"></span> </a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Information <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="patients.ejs">Patients Names</a></li>
            <li><a href="counties.ejs">List of Counties</a></li>
            <li><a href="subcounties.ejs">List of Sub-Counties</a></li>
            <li><a href="status.ejs">HIV-Status</a></li>
           
           
          </ul>
      </li>
    </ul>
    
  </div>
</nav>
