

<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      
    </a>
    <h1>Hospital WebApp</h1>
    <p>New Patient?</p>
    <p>Enter Username</p>
    <input></input>
    <p>Enter Password</p>
    <input></input>
    
    </div>
    </div>
</body>
</html>
