

<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      
    </a>
    <h1>PS4 Emulator</h1>
    <p>New Patient?</p>
    <p>Enter Username</p>
    <input type="text"></input>
  
    <p>Enter Password</p>
    <input type="text"></input>
    <button type="button">Register</button>
     
     <button type="button" onclick="../records/login.html'">Login</button>
    
    </div>
    </div>
</body>
</html>
